In [539]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
import time
from splinter import Browser
import pandas as pd
import re

In [540]:
executable_path = {'executable_path': '/Users/prashantkapadia/Desktop/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [481]:
### NASA Mars News
# URL of page to be scraped
url = 'https://mars.nasa.gov/news'
browser.visit(url)

In [482]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [483]:
time.sleep(5)

In [484]:
news_title = soup.select_one('ul.item_list li.slide div.content_title a').text
news_p = soup.select_one('ul.item_list li.slide div.article_teaser_body').text

print(news_title)
print(news_p)

AI Is Helping Scientists Discover Fresh Craters on Mars
It's the first time machine learning has been used to find previously unknown craters on the Red Planet.

In [485]:
### JPL Mars Space Images - Featured Image
images_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(images_url)

In [486]:
time.sleep(5)

In [487]:
full_image_bt = browser.find_by_id('full_image')
full_image_bt.click()
browser.is_element_present_by_text('more info', wait_time=1)
more_info_bt = browser.links.find_by_partial_text('more info')
more_info_bt.click()
img_html = browser.html
img_soup = BeautifulSoup(img_html, 'html.parser')
image_path = img_soup.select_one('figure.lede a img').get('src')
featured_image_url = f'https://www.jpl.nasa.gov{image_path}'

In [488]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA00029_hires.jpg'

In [533]:
# Mars Weather from Twitter
twitter_url = ('https://twitter.com/marswxreport?lang=en')
browser.visit(twitter_url)
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [534]:
time.sleep(5)
tweets = soup.find("span",text=re.compile("InSight sol"))
tweets

<span class="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0">InSight sol 659 (2020-10-03) low -96.5ºC (-141.7ºF) high -10.8ºC (12.5ºF)
winds from the WNW at 5.1 m/s (11.5 mph) gusting to 16.2 m/s (36.3 mph)
pressure at 7.60 hPa</span>

In [536]:
current_weather = tweets.text
current_weather

'InSight sol 659 (2020-10-03) low -96.5ºC (-141.7ºF) high -10.8ºC (12.5ºF)\nwinds from the WNW at 5.1 m/s (11.5 mph) gusting to 16.2 m/s (36.3 mph)\npressure at 7.60 hPa'

In [541]:
### Mars Facts
url = 'https://space-facts.com/mars/'

In [542]:
tables = pd.read_html(url)

In [543]:
df = tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [478]:
html_table = df.to_html()
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [544]:
# Mars Hemispheres

hemispheres_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemispheres_url)
hemisphere_image_urls = []
# First, get a list of all of the hemispheres
links = browser.find_by_css("a.product-item h3")
# Next, loop through those links, click the link, find the sample anchor, return the href
for i in range(len(links)):
    hemisphere = {}
    # We have to find the elements on each loop to avoid a stale element exception
    browser.find_by_css("a.product-item h3")[i].click()
    # Next, we find the Sample image anchor tag and extract the href
    sample_elem = browser.links.find_by_text('Sample').first
    hemisphere['img_url'] = sample_elem['href']
    # Get Hemisphere title
    hemisphere['title'] = browser.find_by_css("h2.title").text
    # Append hemisphere object to list
    hemisphere_image_urls.append(hemisphere)
    # Finally, we navigate backwards
    browser.back()

In [545]:
hemisphere_image_urls

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [538]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Define the 'classDB' database in Mongo
db = client.marsdb

In [548]:
# Declare the collection
collection = db.mars_inf
# Declare the collection
collection = db.hemi_imgs

In [547]:
# Insert/update value into table

db.mars_inf.insert_one(
    {
        'news_title': news_title,
        'news_p': news_p,
        'featured_image': featured_image_url,
        'current_weather': current_weather,
        'hemisphere_image_urls' : hemisphere_image_urls
    }
)

In [550]:
#db.hemi_imgs.insert_one(hemisphere_image_urls)

In [ ]:
 #<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">  </tr>  </thead>  <tbody>    <tr>  <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>   <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>   <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>   <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>  <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>   <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>  <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>  <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>  <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>